@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Macondo&family=Poppins:wght@300&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;      
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.logo{
    width: 5rem;
    cursor: pointer;
    transition: all 0.5s;
}
.logo:hover{
    transform: scale(1.5);
}
.menu-icon{
    width: 3rem;
    cursor: pointer;
    margin-left:4rem
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size :2rem;
    padding: 1rem 2rem;
    transition: all 0.5s;
}
.row{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
}
.menu-icon{
    display: none;
}
.col{
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
h1{
    color: #fff;
    font-size: 10vw;
}
p{
    color: #fff;
    font-size: 1.5rem;
    line-height: 15px;
    word-spacing: .1rem;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 250px;
    height: 40vh;
    display: inline-block;
    border-radius:10px ;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin:10px 15px;
    background-position:center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(pic-1.png);
}
.card2{
    background-image: url(pic-2.png);
}
.card3{
    background-image: url(pic-3.png);
}
.card4{
    background-image: url(pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
    transform: scale(1.1);
}
h5{
    color: #fff;
    font-size: 4rem;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size:1rem;
    margin-top: 2rem;
}
ul img{
    display: none;
}
nav ul li a:hover{
    letter-spacing: 1rem;
    color: rgb(251, 220, 135);
    animation: borb 1s ease-in-out infinite;
}
@keyframes borb {
    from {
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    to {
        border-bottom: 3px solid orange;
    }
}
@media screen and (max-width:940px) {
    nav ul{
        flex-direction: column;
        position: fixed;
        background:#1b1b1b;
        height: 100vh;
        width: 80%;
        top: 10rem;
        border-radius: 1rem;
        align-items: center;
        box-shadow: 0 0 5rem black;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    nav ul li{
        padding: 4rem 0;
    }
    nav ul li a{
        font-size: 3rem;
        padding: 3rem 0;
    }
    nav ul li a:hover{
        letter-spacing: .5rem;
        color: cyan;
    }
    .menu-icon{
        display: block;
        width: 5rem;
    }
    ul img{
        display: block;
        width: 4rem;
        align-self: flex-end;
        padding: 3rem 4rem;
        cursor: pointer;
    }
    .activeNav ul{
        left: 0;
        opacity: 1;
    }
    .main h1{
        font-size: 20vw;
    }
}